<!DOCTYPE html>
<html lang="en">

<head>
	<title>Scolas</title>
	<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	

</head>

<body>

	<%= render 'layouts/header' %>

	<div class="container">
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div class="alert alert-<%= name.to_s == "notice" ? "success" : "danger" %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
    <% end %>
  <% end %>
  </div>
		
	<%= yield %>
	
	<p class="text-center">Copyright 2015</p>

</body>
</html>
